@model Post

<div class="container">
    <span class="justify-content-start">@Model.DatePosted</span>
    <h4 class="text-center">@Model.Title</h4>
    <img class="img-thumbnail" src="@Model.RecipeImageSource" alt="@Model.Title"></img>
    <p class="text-center">@Model.Description</p>
</div>